h2 {
  color: black;
  padding: 20px;
  padding-left: 50px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px whitesmoke;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  color: black;
}
